# --------------------( LICENSE                            )--------------------
# Copyright (c) 2022-2023 Alexis Pietak & Cecil Curry.
# See "LICENSE" for further details.
#
# --------------------( SYNOPSIS                           )--------------------
# Template with which setuptools generates this project's "MANIFEST" file.

# ....................{ INCLUDE                            }....................
# Include all requisite top-level installation-time files.
.coveragerc
include LICENSE
include MANIFEST.in
include README.rst
include pytest.ini
include setup.cfg
include setup.py

# ....................{ INCLUDE ~ recursive                }....................
# Include all requisite project-specific py.test and setuptools subpackages.
#
# Note that these subpackages are *ONLY* required at installation time and hence
# omitted from the "packages" key passed to the setup() function by "setup.py".
# Welcome to Setuptools Hell, dear friend.
recursive-include calculion_test *

# Include all optional documentation.
recursive-include doc *

# ....................{ EXCLUDE                            }....................
# Exclude all ignorable cache files.
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
